# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs/
*.log
*.log.*

# Build temporário (caso use TypeScript futuramente)
dist/
build/
